:root {
    --frame-background: #EDEDED;
    --frame-navbar: #212536;
    --frame-border: #38393E;
    /* --dot-max: 1.8286vw;
    --dot-min: 1.2571vw; */
    --dot-max: 0.7143vw;
    --dot-min: 0.4911vw;
    --dot-dark: #0A0A0A;
    --dot-light: #6C6C6C;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

#frame {
    box-sizing: border-box;
    background-color: var(--frame-navbar);
    border: 1px var(--frame-border) solid;
    border-radius: 8px;
    position: absolute;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.navbar {
    width: 100%;
    flex-shrink: 0;
}

.inner {
    height: 100%;
    width: 100%;
    background-color: var(--frame-background);
    border-radius: 8px;
    overflow: hidden;
    transform: rotate(360deg);
}

.inner-body {
    overflow: auto;
    width: 100%;
    height: 100%;
}

.content {
    height: 160%;
}

.loading {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
}

.loading-dots {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: visible;
}

.loading-dots:not(:last-child) {
    margin-right: 1.0547vw;
}

.loading-dots::after {
    content: "";
    width: var(--dot-min);
    height: var(--dot-min);
    transform: scale(1);
    border-radius: 50%;
    background-color: var(--dot-light);
    animation: dot-breathe infinite 0.7s;
    position: absolute;
}

.middle.loading-dots::after {
    animation-delay: 0.35s;
    transform: scale(1.45);
    background-color: var(--dot-dark);
}

@keyframes dot-breathe {

    0%,
    10% {
        transform: scale(1.45);
        background-color: var(--dot-dark);
    }

    50%,
    60% {
        transform: scale(1);
        background-color: var(--dot-light);
    }

    100% {
        transform: scale(1.45);
        background-color: var(--dot-dark);
    }
}